@model InventoryManagement.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressOfSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressOfSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionOfProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSuppliedProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfSuppliedProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuppliedProductUnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuppliedProductUnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
