@model IEnumerable<InventoryManagement.Models.Entry>

@{
    ViewData["Title"] = "প্রোডাক্ট এন্ট্রি";
}

<p>
    <a asp-action="Create">নতুন প্রোডাক্ট এন্ট্রি করুন</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressOfSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSuppliedProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliedProductUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressOfSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSuppliedProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliedProductUnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
